body{
    background-image:url(http://www.polyvore.com/cgi/img-thing?.out=jpg&amp;size=l&amp;tid=62541090);
}
header{
    height: 25vh;
    background-color: whitesmoke;
    text-align: center;
}

header h1{
    display: inline-block;
}
header img{
    position: relative;
    top:16px;
    float: left;
    display: inline-block;
    left: 10px;
}
nav{
    display: inline-block;
}
 nav li{
    display: inline;
    padding: 5px;
}
aside{
    float: left;
    height: 73vh;
    width: 19vw;
    border: solid 1px blue;
    background-color: #6a6969;
    top:20px;
    position: relative;
}

.reset{
    top: 200px;
    position: relative;
    left: 20px;
}
aside div{
    position: relative;
    left: 10px;
    margin:20px 0 10px 5px;
}
section{
    height: 73vh;
    width: 100vw;
    position: relative;
}
.card{
    height: 150px;
    width:150px;
    position: relative;
    display: inline-block;
    top: 20px;
    left: 20px;
    margin: 0 10px 10px 0;
}
div .front{
    height: 100%;
    width: 100%;
    //*position: absolute;*//
}
div .back{
    height: 100%;
    width: 100%;
    //*position: absolute;*//
}